header, footer{
    background-color: rgb(28, 63, 62);
    text-align: center;
    color:rgb(236, 232, 241);
    padding: 20px;
}

footer{
    display: grid;
    grid-template-rows: 1fr 100px;
    justify-items: center;
}


#banner{
    background-color: rgb(5, 63, 68);
    padding:10px;
    text-align: center;
    position: relative;
    color:rgb(49, 247, 247)
}

.bannershow{
    display:block;
}

.bannerhidden{
    display: none;
}


.title{
    color: white;
    margin: auto;
    grid-column: 2/3;
}


fieldset{
    text-align: center;
    margin: auto;
    background-color: rgb(46, 42, 46);
    color: white;
}

main{
    display: flex;
    flex-direction: column;
	width: 100%;
	margin: auto;
    padding: auto;
    align-items: center;
    background: radial-gradient(rgba(172, 231, 231, 0.65), rgba(4, 60, 65, 0.95));
}



h1 {
    width: 100%;
	margin: auto;
    padding: 30px 0;
    text-align: center;
}

h2{
    width:fit-content;
    border-bottom: 0.5rem solid #022832;
    border-radius: 20% 0% 20% 0%;
}


h3, p{
	width: 100%;
	margin: auto;
    padding: auto;
    text-align: center;
}

.titulo{
    font-size: 80px;
}

@media only screen and (min-width: 1280px) {
	

}